codec/xsd/iso15118-2020/V2GCI_CommonMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ISO 15118-20:2022  V2GCI_CommonMessages.xsd
  Core V2G communication session messages:
    SessionSetup, Authorization, ServiceDiscovery,
    ServiceDetail, ServiceSelection, ScheduleExchange,
    PowerDelivery, SessionStop, etc.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:v2gci_cm="urn:iso:std:iso:15118:-20:CommonMessages"
           xmlns:v2gci_ct="urn:iso:std:iso:15118:-20:CommonTypes"
           targetNamespace="urn:iso:std:iso:15118:-20:CommonMessages"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:import namespace="urn:iso:std:iso:15118:-20:CommonTypes"
             schemaLocation="V2GCI_CommonTypes.xsd"/>

  <!-- ── Root message elements ─────────────────────────────── -->
  <xs:element name="SessionSetupReq"           type="v2gci_cm:SessionSetupReqType"/>
  <xs:element name="SessionSetupRes"           type="v2gci_cm:SessionSetupResType"/>

  <xs:element name="AuthorizationSetupReq"     type="v2gci_cm:AuthorizationSetupReqType"/>
  <xs:element name="AuthorizationSetupRes"     type="v2gci_cm:AuthorizationSetupResType"/>

  <xs:element name="AuthorizationReq"          type="v2gci_cm:AuthorizationReqType"/>
  <xs:element name="AuthorizationRes"          type="v2gci_cm:AuthorizationResType"/>

  <xs:element name="ServiceDiscoveryReq"       type="v2gci_cm:ServiceDiscoveryReqType"/>
  <xs:element name="ServiceDiscoveryRes"       type="v2gci_cm:ServiceDiscoveryResType"/>

  <xs:element name="ServiceDetailReq"          type="v2gci_cm:ServiceDetailReqType"/>
  <xs:element name="ServiceDetailRes"          type="v2gci_cm:ServiceDetailResType"/>

  <xs:element name="ServiceSelectionReq"       type="v2gci_cm:ServiceSelectionReqType"/>
  <xs:element name="ServiceSelectionRes"       type="v2gci_cm:ServiceSelectionResType"/>

  <xs:element name="ScheduleExchangeReq"       type="v2gci_cm:ScheduleExchangeReqType"/>
  <xs:element name="ScheduleExchangeRes"       type="v2gci_cm:ScheduleExchangeResType"/>

  <xs:element name="PowerDeliveryReq"          type="v2gci_cm:PowerDeliveryReqType"/>
  <xs:element name="PowerDeliveryRes"          type="v2gci_cm:PowerDeliveryResType"/>

  <xs:element name="SessionStopReq"            type="v2gci_cm:SessionStopReqType"/>
  <xs:element name="SessionStopRes"            type="v2gci_cm:SessionStopResType"/>

  <!-- ════════════════════════════════════════════════════════
       §  SessionSetup
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="SessionSetupReqType">
    <xs:sequence>
      <xs:element name="Header"  type="v2gci_ct:messageHeaderType"/>
      <xs:element name="EVCCID"  type="v2gci_cm:evccIDType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SessionSetupResType">
    <xs:sequence>
      <xs:element name="Header"        type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"  type="v2gci_ct:responseCodeType"/>
      <xs:element name="EVSEID"        type="v2gci_ct:evseIDType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  AuthorizationSetup
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="AuthorizationSetupReqType">
    <xs:sequence>
      <xs:element name="Header"  type="v2gci_ct:messageHeaderType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorizationSetupResType">
    <xs:sequence>
      <xs:element name="Header"                    type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"              type="v2gci_ct:responseCodeType"/>
      <xs:element name="AuthorizationServices"     type="v2gci_ct:authorizationType"
                  minOccurs="1" maxOccurs="2"/>
      <xs:element name="CertificateInstallationService" type="xs:boolean"/>
      <xs:element name="PnC_ASResAuthorizationMode"
                  type="v2gci_cm:PnC_ASResAuthorizationModeType" minOccurs="0"/>
      <xs:element name="EIM_ASResAuthorizationMode"
                  type="v2gci_cm:EIM_ASResAuthorizationModeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  Authorization
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="AuthorizationReqType">
    <xs:sequence>
      <xs:element name="Header"             type="v2gci_ct:messageHeaderType"/>
      <xs:element name="SelectedAuthorizationService" type="v2gci_ct:authorizationType"/>
      <xs:element name="PnC_AReqAuthorizationMode"
                  type="v2gci_cm:PnC_AReqAuthorizationModeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthorizationResType">
    <xs:sequence>
      <xs:element name="Header"          type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"    type="v2gci_ct:responseCodeType"/>
      <xs:element name="EVSEProcessing"  type="v2gci_ct:processingType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  ServiceDiscovery
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="ServiceDiscoveryReqType">
    <xs:sequence>
      <xs:element name="Header"                type="v2gci_ct:messageHeaderType"/>
      <xs:element name="SupportedServiceIDs"   type="v2gci_cm:serviceIDListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceDiscoveryResType">
    <xs:sequence>
      <xs:element name="Header"               type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"         type="v2gci_ct:responseCodeType"/>
      <xs:element name="ServiceRenegotiationSupported" type="xs:boolean"/>
      <xs:element name="EnergyTransferServiceList" type="v2gci_cm:energyTransferServiceListType"/>
      <xs:element name="VASList"              type="v2gci_cm:vasListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  ServiceDetail
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="ServiceDetailReqType">
    <xs:sequence>
      <xs:element name="Header"     type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ServiceID"  type="v2gci_ct:numericIDType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceDetailResType">
    <xs:sequence>
      <xs:element name="Header"          type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"    type="v2gci_ct:responseCodeType"/>
      <xs:element name="ServiceID"       type="v2gci_ct:numericIDType"/>
      <xs:element name="ServiceParameterList" type="v2gci_cm:serviceParameterListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  ServiceSelection
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="ServiceSelectionReqType">
    <xs:sequence>
      <xs:element name="Header"                      type="v2gci_ct:messageHeaderType"/>
      <xs:element name="SelectedEnergyTransferService" type="v2gci_cm:selectedServiceType"/>
      <xs:element name="SelectedVASList"             type="v2gci_cm:selectedServiceListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceSelectionResType">
    <xs:sequence>
      <xs:element name="Header"         type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"   type="v2gci_ct:responseCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  ScheduleExchange
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="ScheduleExchangeReqType">
    <xs:sequence>
      <xs:element name="Header"                       type="v2gci_ct:messageHeaderType"/>
      <xs:element name="MaximumSupportingPoints"      type="xs:unsignedShort"/>
      <xs:element name="Dynamic_SEReqControlMode"
                  type="v2gci_cm:Dynamic_SEReqControlModeType" minOccurs="0"/>
      <xs:element name="Scheduled_SEReqControlMode"
                  type="v2gci_cm:Scheduled_SEReqControlModeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScheduleExchangeResType">
    <xs:sequence>
      <xs:element name="Header"              type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"        type="v2gci_ct:responseCodeType"/>
      <xs:element name="EVSEProcessing"      type="v2gci_ct:processingType"/>
      <xs:element name="GoToPause"           type="xs:boolean" minOccurs="0"/>
      <xs:element name="Dynamic_SEResControlMode"
                  type="v2gci_cm:Dynamic_SEResControlModeType" minOccurs="0"/>
      <xs:element name="Scheduled_SEResControlMode"
                  type="v2gci_cm:Scheduled_SEResControlModeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  PowerDelivery
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="PowerDeliveryReqType">
    <xs:sequence>
      <xs:element name="Header"              type="v2gci_ct:messageHeaderType"/>
      <xs:element name="EVProcessing"        type="v2gci_ct:processingType"/>
      <xs:element name="ChargeProgress"      type="v2gci_cm:chargeProgressType"/>
      <xs:element name="EVPowerProfile"      type="v2gci_cm:EVPowerProfileType" minOccurs="0"/>
      <xs:element name="BPT_ChannelSelection" type="v2gci_cm:channelSelectionType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerDeliveryResType">
    <xs:sequence>
      <xs:element name="Header"          type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"    type="v2gci_ct:responseCodeType"/>
      <xs:element name="EVSEStatus"      type="v2gci_cm:evseStatusType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  SessionStop
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="SessionStopReqType">
    <xs:sequence>
      <xs:element name="Header"       type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ChargingSession" type="v2gci_cm:chargingSessionType"/>
      <xs:element name="EVTerminationCode"   type="xs:string" minOccurs="0"/>
      <xs:element name="EVTerminationExplanation" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SessionStopResType">
    <xs:sequence>
      <xs:element name="Header"         type="v2gci_ct:messageHeaderType"/>
      <xs:element name="ResponseCode"   type="v2gci_ct:responseCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  Supporting complex types
       ════════════════════════════════════════════════════════ -->
  <xs:complexType name="PnC_ASResAuthorizationModeType">
    <xs:sequence>
      <xs:element name="GenChallenge"       type="v2gci_cm:genChallengeType"/>
      <xs:element name="SupportedProviders" type="v2gci_cm:providerListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EIM_ASResAuthorizationModeType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="PnC_AReqAuthorizationModeType">
    <xs:sequence>
      <xs:element name="GenChallenge"       type="v2gci_cm:genChallengeType"/>
      <xs:element name="ContractCertificateChain" type="v2gci_cm:contractCertificateChainType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contractCertificateChainType">
    <xs:sequence>
      <xs:element name="Certificate"        type="v2gci_ct:certificateType"/>
      <xs:element name="SubCertificates"    type="v2gci_ct:subCertificatesType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="energyTransferServiceListType">
    <xs:sequence>
      <xs:element name="EnergyTransferService" type="v2gci_cm:serviceType"
                  minOccurs="1" maxOccurs="8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vasListType">
    <xs:sequence>
      <xs:element name="VAS" type="v2gci_cm:serviceType" minOccurs="1" maxOccurs="8"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceType">
    <xs:sequence>
      <xs:element name="ServiceID"    type="v2gci_ct:numericIDType"/>
      <xs:element name="FreeService"  type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceParameterListType">
    <xs:sequence>
      <xs:element name="ParameterSet" type="v2gci_cm:parameterSetType"
                  minOccurs="1" maxOccurs="255"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parameterSetType">
    <xs:sequence>
      <xs:element name="ParameterSetID" type="xs:short"/>
      <xs:element name="Parameter"      type="v2gci_cm:parameterType"
                  minOccurs="1" maxOccurs="16"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parameterType">
    <xs:sequence>
      <xs:element name="Name"          type="xs:string"/>
      <xs:element name="boolValue"     type="xs:boolean"             minOccurs="0"/>
      <xs:element name="byteValue"     type="xs:byte"                minOccurs="0"/>
      <xs:element name="shortValue"    type="xs:short"               minOccurs="0"/>
      <xs:element name="intValue"      type="xs:int"                 minOccurs="0"/>
      <xs:element name="physicalValue" type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="stringValue"   type="xs:string"              minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="selectedServiceType">
    <xs:sequence>
      <xs:element name="ServiceID"       type="v2gci_ct:numericIDType"/>
      <xs:element name="ParameterSetID"  type="xs:short" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="selectedServiceListType">
    <xs:sequence>
      <xs:element name="SelectedService" type="v2gci_cm:selectedServiceType"
                  minOccurs="1" maxOccurs="16"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dynamic_SEReqControlModeType">
    <xs:sequence>
      <xs:element name="DepartureTime"          type="xs:unsignedInt" minOccurs="0"/>
      <xs:element name="MinimumSOC"             type="xs:byte"        minOccurs="0"/>
      <xs:element name="TargetSOC"              type="xs:byte"        minOccurs="0"/>
      <xs:element name="EVTargetEnergyRequest"  type="v2gci_ct:rationalNumberType"/>
      <xs:element name="EVMaximumEnergyRequest" type="v2gci_ct:rationalNumberType"/>
      <xs:element name="EVMinimumEnergyRequest" type="v2gci_ct:rationalNumberType"/>
      <xs:element name="EVMaximumV2XEnergyRequest" type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="EVMinimumV2XEnergyRequest" type="v2gci_ct:rationalNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Scheduled_SEReqControlModeType">
    <xs:sequence>
      <xs:element name="DepartureTime"   type="xs:unsignedInt"   minOccurs="0"/>
      <xs:element name="EVTargetEnergyRequest"  type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="EVMaximumEnergyRequest" type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="EVMinimumEnergyRequest" type="v2gci_ct:rationalNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dynamic_SEResControlModeType">
    <xs:sequence>
      <xs:element name="DepartureTime"   type="xs:unsignedInt"   minOccurs="0"/>
      <xs:element name="MinimumSOC"      type="xs:byte"          minOccurs="0"/>
      <xs:element name="TargetSOC"       type="xs:byte"          minOccurs="0"/>
      <xs:element name="AckMaxDelay"     type="xs:unsignedShort" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Scheduled_SEResControlModeType">
    <xs:sequence>
      <xs:element name="ScheduleTuple" type="v2gci_cm:scheduleExchangeResType"
                  minOccurs="1" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scheduleExchangeResType">
    <xs:sequence>
      <xs:element name="ScheduleTupleID"           type="xs:unsignedByte"/>
      <xs:element name="PowerSchedule"             type="v2gci_cm:powerScheduleType"/>
      <xs:element name="PriceLevelSchedule"        type="v2gci_cm:priceLevelScheduleType" minOccurs="0"/>
      <xs:element name="AbsolutePriceSchedule"     type="v2gci_cm:absolutePriceScheduleType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerScheduleType">
    <xs:sequence>
      <xs:element name="TimeAnchor"            type="xs:unsignedLong"/>
      <xs:element name="AvailableEnergy"       type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="PowerTolerance"        type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="PowerScheduleEntries"  type="v2gci_cm:powerScheduleEntryListType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerScheduleEntryListType">
    <xs:sequence>
      <xs:element name="PowerScheduleEntry" type="v2gci_cm:powerScheduleEntryType"
                  minOccurs="1" maxOccurs="1024"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="powerScheduleEntryType">
    <xs:sequence>
      <xs:element name="Duration"      type="xs:unsignedInt"/>
      <xs:element name="Power"         type="v2gci_ct:rationalNumberType"/>
      <xs:element name="Power_L2"      type="v2gci_ct:rationalNumberType" minOccurs="0"/>
      <xs:element name="Power_L3"      type="v2gci_ct:rationalNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priceLevelScheduleType">
    <xs:sequence>
      <xs:element name="TimeAnchor"               type="xs:unsignedLong"/>
      <xs:element name="PriceScheduleID"          type="xs:unsignedShort"/>
      <xs:element name="PriceScheduleDescription" type="xs:string"         minOccurs="0"/>
      <xs:element name="NumberOfPriceLevels"       type="xs:unsignedByte"/>
      <xs:element name="PriceLevelScheduleEntries" type="v2gci_cm:priceLevelScheduleEntryListType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priceLevelScheduleEntryListType">
    <xs:sequence>
      <xs:element name="PriceLevelScheduleEntry" type="v2gci_cm:priceLevelScheduleEntryType"
                  minOccurs="1" maxOccurs="1024"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="priceLevelScheduleEntryType">
    <xs:sequence>
      <xs:element name="Duration"    type="xs:unsignedInt"/>
      <xs:element name="PriceLevel"  type="xs:unsignedByte"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="absolutePriceScheduleType">
    <xs:sequence>
      <xs:element name="TimeAnchor"     type="xs:unsignedLong"/>
      <xs:element name="PriceScheduleID" type="xs:unsignedShort"/>
      <xs:element name="Currency"       type="xs:string"/>
      <xs:element name="Language"       type="xs:string"/>
      <xs:element name="PriceAlgorithm" type="xs:anyURI"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVPowerProfileType">
    <xs:sequence>
      <xs:element name="TimeAnchor"            type="xs:unsignedLong"/>
      <xs:element name="Dynamic_EVPPTControlMode"
                  type="v2gci_cm:Dynamic_EVPPTControlModeType" minOccurs="0"/>
      <xs:element name="Scheduled_EVPPTControlMode"
                  type="v2gci_cm:Scheduled_EVPPTControlModeType" minOccurs="0"/>
      <xs:element name="EVPowerProfileEntries" type="v2gci_cm:EVPowerProfileEntryListType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVPowerProfileEntryListType">
    <xs:sequence>
      <xs:element name="EVPowerProfileEntry" type="v2gci_cm:powerScheduleEntryType"
                  minOccurs="1" maxOccurs="2048"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dynamic_EVPPTControlModeType">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="Scheduled_EVPPTControlModeType">
    <xs:sequence>
      <xs:element name="SelectedScheduleTupleID" type="xs:unsignedByte"/>
      <xs:element name="PowerToleranceAcceptance" type="v2gci_cm:powerToleranceAcceptanceType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="evseStatusType">
    <xs:sequence>
      <xs:element name="NotificationMaxDelay"  type="xs:unsignedShort"/>
      <xs:element name="EVSENotification"      type="v2gci_cm:evseNotificationType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="providerListType">
    <xs:sequence>
      <xs:element name="Provider" type="v2gci_cm:providerType"
                  minOccurs="1" maxOccurs="128"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="providerType">
    <xs:sequence>
      <xs:element name="ProviderID"    type="xs:string"/>
      <xs:element name="SubProviders"  type="v2gci_cm:subProvidersType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subProvidersType">
    <xs:sequence>
      <xs:element name="SubProvider" type="xs:string"
                  minOccurs="1" maxOccurs="128"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ════════════════════════════════════════════════════════
       §  Simple Types
       ════════════════════════════════════════════════════════ -->
  <xs:simpleType name="evccIDType">
    <xs:restriction base="xs:hexBinary">
      <xs:minLength value="6"/>
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="genChallengeType">
    <xs:restriction base="xs:base64Binary">
      <xs:length value="16"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="serviceIDListType">
    <xs:list itemType="v2gci_ct:numericIDType"/>
  </xs:simpleType>

  <xs:simpleType name="chargeProgressType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start"/>
      <xs:enumeration value="Stop"/>
      <xs:enumeration value="Standby"/>
      <xs:enumeration value="ScheduleRenegotiation"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="chargingSessionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Terminate"/>
      <xs:enumeration value="Pause"/>
      <xs:enumeration value="ServiceRenegotiation"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="evseNotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pause"/>
      <xs:enumeration value="ExitStandby"/>
      <xs:enumeration value="Terminate"/>
      <xs:enumeration value="ScheduleRenegotiation"/>
      <xs:enumeration value="ServiceRenegotiation"/>
      <xs:enumeration value="MeteringConfirmation"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="channelSelectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Charge"/>
      <xs:enumeration value="Discharge"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="powerToleranceAcceptanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PowerToleranceConfirmed"/>
      <xs:enumeration value="PowerToleranceNotConfirmed"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
